header {
background-color: aquamarine;
position: fixed;
top: 0px;
display: flex;
height: 50px;
width: 100%;
align-items: center;
justify-content: space-between;
padding: 0 10px;
}

header img {
  display: flex;
  max-width: 75%;
  max-height: 30px;
  padding: 0 10px;

  
  
}

header ul {
  display: flex;
  list-style: none;
  justify-content: space-between;

}

header li {
  padding: 0 20px;
}